MONGODB_URI = mongodb+srv://Prashant_NP:PNamrata@143@cluster0.pbuzg.mongodb.net/ShopSphere?retryWrites=true&w=majority&appName=Cluster0
TOKEN_SECRET_KEY = "hbfsjdfhwoeprashantnamratahfqsdvehd"
FRONTEND_URL = http://localhost:3000